.pageSlider{
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: center;
    align-items:center;
}

.slides{
    flex:3;
    text-align:center;
}

.slideSection{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
    align-items:center;
}

.paginationSection{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
    align-items:center;
}
.navigationLeft{
    background-image: url(../images/left-arrow.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    margin: 20px;
    min-width: 50px;
    min-height: 50px;
    flex:1;
    text-align:left;
    
};

.navigationNone{
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    margin: 20px;
    min-width: 50px;
    min-height: 50px;
    flex:1;
    text-align:left;
    
};

.navigationRight{
    background-image: url(../images/right-arrow.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    margin: 20px;
    min-height: 50px;
    min-width: 50px;
    flex:1;
    text-align:right;
};

.slideVisible{
    opacity: 1;
    display:block;
}

.slideNotVisible{
    transition: opacity 5s ease-out;
    -webkit-transition: opacity 5s ease-out;
    -moz-transition: opacity 5s ease-out;
    opacity: 0;
    display:block;
}

.navigationBulletStyle ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
}

.navigationBulletStyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 16px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.navigationBulletStyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255,255,255,0.3);
	text-indent: -999em;
	cursor: pointer; /* make the text accessible to screen readers */
	position: absolute;
}

@-webkit-keyframes NAME-YOUR-ANIMATION {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

