.pageSlider{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
    align-items:center;
}

.slides{
    flex:3;
    text-align:center;
}

.navigationLeft{
    background-image: url(../images/left-arrow.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    margin: 20px;
    min-width: 50px;
    min-height: 50px;
    flex:1;
    text-align:left;
    
};

.navigationNone{
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    margin: 20px;
    min-width: 50px;
    min-height: 50px;
    flex:1;
    text-align:left;
    
};

.navigationRight{
    background-image: url(../images/right-arrow.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    margin: 20px;
    min-height: 50px;
    min-width: 50px;
    flex:1;
    text-align:right;
};

.slideVisible{
    opacity: 1;
    display:block;
}

.slideNotVisible{
    transition: opacity 5s ease-out;
    -webkit-transition: opacity 5s ease-out;
    -moz-transition: opacity 5s ease-out;
    opacity: 0;
    display:block;
}

@-webkit-keyframes NAME-YOUR-ANIMATION {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

